<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <configSections>
      <section name="MySection" type="ConsoleAppConfigTest.MySectionConfig, ConsoleAppConfigTest, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
    </configSections>
    <MySection>
      <Messages>
        <add MessageId="01" MessageValue="Hello"/>
        <add MessageId="02" MessageValue="Goodbuy"/>
      </Messages>
    </MySection>
</configuration>